:root {
    --color-red-primary: #B10A3A;
    --color-green-primary: #6D762C;
    --color-white: #ECEAE5;
    --color-background: #DEDBD4;
    --color-beige-light: #BCB7AD;
    --color-beige-dark: #8E887D;
    --color-highlights: #C35171;
    --color-black: #131212;

    --whitespace-xs: .5rem;
    --whitespace-s: 1.2rem;
    --whitespace-base: clamp(.5rem, .5rem + 1vw, 6rem);
    --whitespace-m: 2rem;
    --whitespace-l: 3rem;
    --whitespace-xl: 5rem;
    --whitespace-xxl: 7rem;

    --font-size-xs: .75rem;
    --font-size-s: 1rem;
    --font-size-base: 1.125rem;
    --font-size-m: 1.25rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;

    --font-family-playfair: Playfair Display, Georgia, serif;
    --font-family-inconsolata: Inconsolata, Helvetica, Arial, sans-serif;
    --font-family-public: Public Sans, Helvetica, Arial, sans-serif;
}

.public-sans {
    font-family: "Public Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inconsolata {
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.animation {
    max-width: 100vw;
    min-height: 100vh;
}

path {
    width: 100%;
    height: auto;
}

.extra-height {
    min-height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: repeat;
    pointer-events: none;
    background-image: url("../assets/img/beige-paper.png");
    opacity: 100%;
    z-index: 10;
}

body {
    font-family: var(--font-family-public);
    font-size: var(--font-size-base);
    color: var(--color-black);
    background-color: var(--color-background);
    position: relative;
    line-height: 1.6;
}

.hidden {
    display: none;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

img,
picture {
    max-inline-size: 100%;
    block-size: auto;
    object-fit: contain;
}

.group-stroke,
.path {
    grid-column: 1;
    grid-row: 1;
}

.path {
    z-index: -10;
}

.group-stroke {
    height: 100%;
    display: grid;
    place-items: center;
}

/* ------------------------------------- NAVIGATION ------------------------------------- */
button {
    border: none;
    margin: 0;
    font-size: var(--fs-base);
    line-height: 1;
    background: transparent;
    appearance: none;
    color: var(--text-color);
}

.nav__button--left {
    position: fixed;
    left: var(--whitespace-base);
    top: var(--whitespace-base);
}

.nav__button--right {
    position: fixed;
    right: var(--whitespace-base);
    top: var(--whitespace-base);
    z-index: 5;
}

.nav__button svg {
    width: 4rem;
    height: 4rem;
}

.nav__list {
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
    padding-block: 15vh;
    padding-inline: var(--whitespace-m);
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: var(--color-background);
}

.nav__item {
    border-block-end: solid 1.5px var(--color-beige-light);
}

.nav__link {
    color: var(--color-black);
    font-weight: 500;
    font-family: var(--font-family-inconsolata);
    font-size: var(--font-size-xl);
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    margin-block-end: var(--whitespace-base);
    margin-block-start: var(--whitespace-xs);
}

/* ------------------------------------- HEADER ------------------------------------- */

.story {
    padding-block-start: var(--whitespace-l);
    background-color: var(--color-beige-light);
    width: 100%;
    display: grid;
    place-items: center;
}

.story__list, .story__background {
    grid-column: 1;
    grid-row: 1;
}

.story__title {
}

@media screen and (min-width: 30em) {
    .nav__list {
            padding-inline: var(--whitespace-xl);
        }
    .nav__link {
        margin-block-end: var(--whitespace-m);
        margin-block-start: var(--whitespace-xs);
    }

    .nav__button svg {
        width: 3.5rem;
        height: 3.5rem;
    }
}

@media screen and (min-width: 65em) {
 
}