:root {
    --color-red-primary: #B10A3A;
    --color-green-primary: #6D762C;
    --color-white: #ECEAE5;
    --color-background: #DEDBD4;
    --color-beige-light: #BCB7AD;
    --color-beige-dark: #8E887D;
    --color-highlights: #C35171;
    --color-black: #231F20;

    --whitespace-xxs: clamp(.15rem, .3rem + 0.3vw, 0.5rem);
    --whitespace-xs: clamp(.25rem, .5rem + 0.5vw, 1rem);
    --whitespace-s: clamp(.5rem, 0.5rem + 1vw, 2rem);
    --whitespace-base: clamp(.5rem, 1rem + 1vw, 6rem);
    --whitespace-m: clamp(1rem, 2rem + 1vw, 3rem);
    --whitespace-l: clamp(1.5rem, 3rem + 1vw, 4rem);
    --whitespace-xl: clamp(2rem, 5rem + 1vw, 6rem);
    --whitespace-xxl: clamp(3rem, 7rem + 1vw, 8rem);

    /* --font-size-xs: .9rem;
    --font-size-s: 1.05rem;
    --font-size-base: 1.125rem;
    --font-size-m: clamp(1rem, 0.5rem + 1vw, 1.6rem);
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 3.125rem;
    --font-size-xxxl: 5rem; */
    --font-size-xs: clamp(0.8rem, 0.6rem + 0.2vw, 1rem);
    --font-size-s: clamp(0.9rem, 0.75rem + 0.4vw, 1.1rem);
    --font-size-base: clamp(1.05rem, 0.85rem + 0.5vw, 1.1rem);
    --font-size-m: clamp(1.25rem, 1rem + 0.6vw, 1.4rem);
    --font-size-l: clamp(1.5rem, 1.25rem + 0.8vw, 2rem);
    --font-size-xl: clamp(2rem, 1.75rem + 1vw, 2.5rem);
    --font-size-xxl: clamp(2rem, 2rem + 1.5vw, 3rem);
    --font-size-xxxl: clamp(3rem, 3rem + 2vw, 4rem);

    --font-family-playfair: Playfair Display, Georgia, serif;
    --font-family-inconsolata: Inconsolata, Helvetica, Arial, sans-serif;
    --font-family-public: Public Sans, Helvetica, Arial, sans-serif;
}

.public-sans {
    font-family: "Public Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inconsolata {
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

html, body {
    inline-size: 100vw;
    /* overflow-x: hidden; */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* .animation {
    max-inline-size: 100vw;
    min-block-size: 100vh;
} */


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: repeat;
    pointer-events: none;
    background-image: url("../assets/img/background.png");
    opacity: 40%;
    z-index: 10;
    margin: 0;
}

.progress--bg {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    inline-size: 100%;
    background: var(--color-beige-dark);
    transform-origin: 0%;
}

.progress--fg {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--color-red-primary);
    transform-origin: 0%;
    inline-size: 0%;
}

body {
    font-family: var(--font-family-public);
    font-size: var(--font-size-base);
    color: var(--color-black);
    background-color: var(--color-background);
    line-height: 1.6;
    inline-size: 100vw;
}

path {
    inline-size: auto;
    block-size: auto;
}

.extra-height {
    min-block-size: 100vh;
}

.hidden {
    display: none;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    block-size: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    inline-size: 1px;
}

.container--s {
    padding-inline: var(--whitespace-base);
}

.container--m {
    padding-inline: var(--whitespace-m);
}

img,
picture {
    max-inline-size: 100%;
    block-size: auto;
    object-fit: contain;
}

.highlight {
    background-color: var(--color-highlights);
    padding: 0.25rem var(--whitespace-xxs);
    color: var(--color-white);
    /* background-image: url("../assets/svg/highlight.svg"); */
}

.path {
    inline-size: clamp(40rem, 100vw, 120rem);
}

.path-hidden {
    display: none;
}

.path {
    z-index: -10;
}

.header__content {
    /* block-size: 100%; */
    display: grid;
    place-items: center;
}

/* ------------------------------------- NAVIGATION ------------------------------------- */
button {
    border: none;
    margin: 0;
    font-size: var(--fs-base);
    line-height: 1;
    background: transparent;
    appearance: none;
    color: var(--text-color);
}

.nav__button--left {
    position: fixed;
    z-index: 20;
    left: var(--whitespace-base);
    top: var(--whitespace-base);
}

.nav__button--right {
    position: fixed;
    right: var(--whitespace-base);
    top: var(--whitespace-base);
    z-index: 20;
}

.nav__button svg {
    inline-size: 3.5rem;
    block-size: 3.5rem;
}

.nav__list {
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
    z-index: 15;
    padding-block: 15vh;
    padding-inline: var(--whitespace-m);
    block-size: 100vh;
    inline-size: 100vw;
    position: fixed;
    background-color: var(--color-background);
}

.nav__item {
    border-block-end: solid 1.5px var(--color-beige-light);
}

.nav__link {
    color: var(--color-black);
    font-weight: 500;
    font-family: var(--font-family-inconsolata);
    font-size: var(--font-size-l);
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    margin-block-end: var(--whitespace-base);
    margin-block-start: var(--whitespace-xs);
}

/* ------------------------------------- HEADER ------------------------------------- */

.story {
    padding-block-start: var(--whitespace-m);
    background-color: var(--color-beige-light);
    inline-size: 100%;
    display: grid;
    /* grid-template-columns: repeat(6, 1fr); */
    place-items: center;
    padding-inline-start: 8rem;
}

.story__title {
    font-family: var(--font-family-inconsolata);
    font-weight: 600;
    color: var(--color-red-primary);
    font-size: var(--font-size-m);
}

.story li {
    width: 18rem;
      height: auto;
        margin-inline-start: -8rem;
        transition: all 0.3s ease;
}

.story li:nth-child(1) {
    z-index: 6;
}

.story li:nth-child(2) {
    z-index: 5;
}

.story li:nth-child(3) {
    z-index: 4;
}

.story li:nth-child(4) {
    z-index: 3;
}

.story li:nth-child(5) {
    z-index: 2;
}

.story li:nth-child(6) {
    z-index: 1;
}

.story-hidden p {
    color: var(--color-black);
    opacity: 50%;
    font-weight: 400;
}

.header__hero {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
}

.hero__title {
    font-family: var(--font-family-playfair);
    font-weight: 600;
    text-transform: uppercase;
    font-size: clamp(2rem, 13vw, 9rem);
}

.hero__title--top {
    margin-block-end: clamp(-7rem, -10vw, -3rem);
}

.hero__title--bottom {
/* font-size: var(--font-size-xxxl); */
    font-size: clamp(4rem, 16vw, 10rem);
    margin-block-start: clamp(-12rem, -12vw, -4rem);
}

.hero__graphic {
    place-self: center;
    overflow: hidden;
}

.overlap{
    display: grid;
    place-items: center;
}

.overlap__item{
    grid-column: 1;
    grid-row: 1;
}

.hero__graphic {
    max-inline-size: 28rem;
}

.hero__graphic--fg {
    inline-size: 80%;
}

.hero__graphic--bg {
    /* max-inline-size: 140%;
    inline-size: 140%;   */
    height: auto;
    margin-inline-start: -1.5rem;
    margin-block-end: -3rem;
    z-index: -5;
}

.hero__subtitle {
    display: grid;
    place-items: center;
    margin-block-start: -1rem;
}

.subtitle__p, .subtitle__svg {
    grid-column: 1;
    grid-row: 1;
}

.subtitle__p {
    font-family: var(--font-family-inconsolata);
    font-size: var(--font-size-m);
    font-weight: 600;
    line-height: 1.3;
    padding-inline: 2rem;
    max-inline-size: 35ch;
    color: var(--color-white);
    margin-block-start: clamp(-2rem, -20vw, -2rem);
}

.subtitle__svg {
    content: url('/src/assets/svg/background-subtitle.svg');
    inline-size: 100%;
    max-inline-size: 26rem;
    block-size: auto
}

.hero__note{
    rotate: -5deg;
    z-index: -2;
}

.note__p {
    font-family: var(--font-family-inconsolata);
    color: var(--color-red-primary);
    font-weight: 500;
    font-size: var(--font-size-s);
    padding: var(--whitespace-s);
    max-inline-size: 40ch;
}

.note__svg {
    inline-size: clamp(20rem, 20vw, 25rem);
    block-size: auto;
}

/* ------------------------------------- INTRO ------------------------------------- */
.intro {
  inline-size: 100vw;
}

.intro__year {
    block-size: 30vh;
    align-items: center;
    margin-block-start: 5rem;
    margin-block-end: clamp(1rem, 5vw, 10rem);
}

.year__p {
    text-align: center;
    font-family: var(--font-family-playfair);
    font-weight: bold;
    font-size: clamp(8rem, 30vw, 19rem);
    line-height: 1;
    margin-block-end: clamp(10rem, 25vw, 15rem);
}

.year__svg {

}

.intro__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "intro__map intro__map"
            "intro__p--1 intro__p--1"
            "intro__p--2 intro__bell"
            "intro__p--3 intro__p--3"
            ". intro__splash";
    place-items: center;
}

.big-letter {
    display: none;
}

.intro__splash {
    margin-block-start: -4rem;
    grid-area: intro__splash;
}

.intro__p {
    margin-block-end: var(--whitespace-s);
    max-inline-size: 65ch;
}

.intro__map {
    grid-area: intro__map;
    margin-block-start: -2rem;
    margin-block-end: var(--whitespace-s);
}

.intro__p--1 {
    grid-area: intro__p--1;
}

.intro__p--2 {
    grid-area: intro__p--2;
}

.intro__p--3 {
    grid-area: intro__p--3;
}

.intro__bell {
    grid-area: intro__bell;
    justify-self: end;
}

.map__img {
    inline-size: 28rem;
    block-size: auto;
    margin-block: var(--whitespace-base);
    align-self: end;
}

.bell__img {
    inline-size: 16.25rem;
    block-size: auto;
}

/* ------------------------------------- INTRO ------------------------------------- */

.profile__card {
    display: none;
}

.profile__card--top, .profile__card--bottom {
    display: block;
}

.profile__content {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: var(--whitespace-base);
    padding-block: var(--whitespace-m);
}

.profile__name {
    font-family: var(--font-family-playfair);
    font-size: var(--font-size-xxl);
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    margin-block-end: var(--whitespace-base);
}

h4 {
    padding-inline: var(--whitespace-m);
    font-family: var(--font-family-inconsolata);
    font-weight: 700;
    font-size: var(--font-size-m);
    background-color: var(--color-highlights);
    padding: 0.05rem var(--whitespace-s);
    color: var(--color-white);
    max-width: fit-content;
    margin-bottom: var(--whitespace-xxs);
}

.profile__img {
    inline-size: 19.75rem;
    block-size: auto;
}

.profile__bio {
    max-inline-size: 60ch;
}

.profile__content{
    inline-size: 100%;
}

.basics__item {
    margin-block-end: var(--whitespace-xs);
}

.goals__list {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.goals__item {
    margin-block-start: var(--whitespace-xs);
    list-style: disc;
    margin-inline: var(--whitespace-base);
}



/* ------------------------------------- MEDIA QUERIES ------------------------------------- */
@media screen and (min-width: 30em) {
    .nav__list {
            padding-inline: var(--whitespace-xl);
    }
    .nav__link {
        margin-block-end: var(--whitespace-m);
        margin-block-start: var(--whitespace-xs);
    }

    .nav__button svg {
        inline-size: 3.5rem;
        block-size: 3.5rem;
    }

    .intro__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "intro__map"
            "intro__p--1"
            "intro__p--2 "
            "intro__p--3"
            "intro__bell"
            ;

        place-items: center;

    }

    .intro__bell {
        margin-block-start: -2.5rem;
        margin-inline-end: var(--whitespace-base);
    }

    .intro__splash {
        grid-row: 1;
        grid-column: 1;
        align-self: end;
        justify-self: end;
    }

    .intro__p--3{
        display: none;
    }

    .intro__p--2::after{
        content:"But the rewards? They could set you up for life. With ambition and determination, you’re ready to build a printing empire. Will you succeed? Or fall into the dangers of this high-stakes business?"
    }
}

@media screen and (min-width: 35em) {
    .profile__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "profile__name profile__name"
                "profile__graphic profile__basics"
                "profile__graphic profile__basics"
                "profile__goals profile__goals"
                "profile__bio profile__bio";
        }
    
        .profile__name {
            grid-area: profile__name;
            justify-self: start;
        }
    
        .profile__basics {
            grid-area: profile__basics;
            align-self: center;
            margin-block-start: var(--whitespace-m);
        }
    
        .profile__graphic {
            grid-area: profile__graphic;
            justify-self: start;
        }
    
        .profile__goals {
            grid-area: profile__goals;
        }
    
        .profile__bio {
            grid-area: profile__bio;
        }
}

@media screen and (min-width: 40em) {
    body {
        font-weight: 300;
    }

    .story{
        padding-block-start: var(--whitespace-s);
        padding-inline-start: 12rem;
        grid-template-columns: repeat(6, 1fr);
    }
    .story__title {
        font-size: var(--font-size-base );
    }
    .hero__title, .subtitle__p, .story__title{
        font-weight: 500;
    }

    .hero__subtitle {
        margin-block-start: -3rem;
    }

    .subtitle__p {
            max-inline-size: 70ch;
            margin-block-start: -1.7rem;
    }
    .subtitle__svg {
        max-inline-size: 100%;
        content: url('/src/assets/svg/background-subtitle-2.svg');
    }

    .path-hidden {
        display: block;
    }

    .intro__path {
        
        display: none;
    }

    .profile__content {
        grid-template-columns: 1fr 1.2fr;
    }
}

@media (min-width: 50em) {
    .profile__content {
        grid-template-columns: auto auto;
            grid-template-areas:
                "profile__graphic profile__name"
                "profile__graphic profile__goals"
                "profile__basics profile__bio";
            padding-inline: var(--whitespace-l);
    }

    .profile__basics {
        margin-block-start: 0;
        margin-inline-start: var(--whitespace-m);
    }

    .goals__list {
        flex-direction: column;
    }

    .profile__name{
        align-self: end;
        text-align: start;
    }

    .profile__bio {
        align-self: center;
    }
}

@media (min-width: 60em) {
    .header__hero {
        grid-template-columns: 1fr auto 1fr;
        grid-template-areas:
            "top-title top-title top-title"
            ". graphic ."
            "bottom-title bottom-title bottom-title"
            "subtitle subtitle subtitle";
        align-items: center;
    }

    .hero__title--top {
        grid-area: top-title;
    }

    .hero__graphic {
        grid-area: graphic;
        justify-self: center;
    }

    .hero__title--bottom {
        grid-area: bottom-title;
    }

    .hero__subtitle{
        grid-area: subtitle;
        justify-self: center;
        text-align: center;
    }

    .note__p {
        font-size: var(--font-size-xs);
    }

    .hero__note {
        grid-area: note;
        grid-row: 2;
        grid-column: 2/4;
        justify-self: end;
    }

    .intro__year {
        block-size: 40vh;
        align-items: center;
        margin-block-start: 8rem;
    }

    .note__svg {
        inline-size: clamp(20rem, 9vw, 21rem);
    }

    .intro__map {
        justify-self: start;
    }
}

@media screen and (min-width: 70em) {
    .story{
        grid-template-columns: repeat(6, 1fr);
        padding-inline-start: 8rem;
    }
}

@media screen and (min-width: 75em) {
    .hero__note {
        margin-inline-end: -4rem;
    }

    .profile__card--top,
    .profile__card--bottom {
        display: none;
    }

    .profile__card {
        display: block;
        padding-inline: var(--whitespace-s);
        max-inline-size: 75rem;
    }

    .profile__name {
        margin-block-end: var(--whitespace-s);
        align-self: end;
        font-size: var(--font-size-xxxl);
    }

    .profile__content {
        background-color: transparent;
        grid-template-columns: max-content max-content;
        gap: var(--whitespace-xs);
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "profile__graphic profile__name"
        "profile__graphic profile__goals"
        "profile__basics profile__bio";
        padding-inline: clamp(7rem, 5vw, 10rem);
        
        /* background-image: url('/src/assets/svg/big-card.svg'); */
    }

    .profile__basics{
        margin-block-start: 0;
        margin-inline-start: var(--whitespace-base);
    }

    .profile__graphic {
        max-inline-size: 17rem;
    }

    .profile__goals {
        max-inline-size: max-content;
    }
}

@media screen and (min-width: 80em) {
    .container--s{
        margin-inline: var(--whitespace-m);
    }

    .big-letter {
        display: block;
    }

    .intro__splash {
        grid-area: intro__splash;
        justify-self: start;
    }

    .intro__path {
        margin-block-start: var(--whitespace-xl);
        display: block;
    }

    .intro__content {
        display: grid;
        grid-template-columns: 2.5fr auto 3fr 1.5fr;
        grid-template-rows: 0.7fr 1fr 0.5fr 1fr;
        grid-template-areas:
            "intro__map . . intro__splash"
            "intro__map letter-i intro__p--1 intro__splash"
            ". intro__p--2 intro__p--2 intro__bell"
            ". . . intro__bell";

        place-items: center
    }

    .big-letter {
            font-size: 12rem;
            font-family: var(--font-family-playfair);
            font-weight: 600;
    }

    .replace-letter {
        display: none;
    }

    .letter-i {
        grid-area: letter-i;
        align-self: end;
        margin-block-end: var(--whitespace-base);
        line-height: 0.8;
    }

    .map__img {
        margin-block-start: 12rem;
        margin-inline-start: var(--whitespace-m);
    }

    .intro__p--1 {
        align-self: end;
        justify-self: start;
        max-inline-size: 46ch;
    }

    .intro__p--2, .letter-i {
        margin-inline-start: var(--whitespace-l);
    }

    .profile__content {
        padding-inline: clamp(5rem, 12vw, 12rem);
        max-inline-size: 89rem;
    }
}

@media screen and (min-width: 85em) {
    .hero__note {
            margin-inline-end: -6rem;
        }
}