:root {
    --color-red-primary: #B10A3A;
    --color-green-primary: #6D762C;
    --color-white: #ECEAE5;
    --color-background: #DEDBD4;
    --color-beige-light: #BCB7AD;
    --color-beige-dark: #8E887D;
    --color-highlights: #C35171;
    --color-black: #231F20;

    --whitespace-xs: .5rem;
    --whitespace-s: 1.2rem;
    --whitespace-base: clamp(.5rem, .5rem + 1vw, 6rem);
    --whitespace-m: 2rem;
    --whitespace-l: 3rem;
    --whitespace-xl: 5rem;
    --whitespace-xxl: 7rem;

    --font-size-xs: .9rem;
    --font-size-s: 1.05rem;
    --font-size-base: 1.125rem;
    --font-size-m: clamp(1rem, 0.5rem + 1vw, 1.6rem);
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 3.125rem;
    --font-size-xxxl: 5rem;

    --font-family-playfair: Playfair Display, Georgia, serif;
    --font-family-inconsolata: Inconsolata, Helvetica, Arial, sans-serif;
    --font-family-public: Public Sans, Helvetica, Arial, sans-serif;
}

.public-sans {
    font-family: "Public Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inconsolata {
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.animation {
    max-inline-size: 100vw;
    min-block-size: 100vh;
}

path {
    inline-size: 100%;
    block-size: auto;
}

.extra-height {
    min-block-size: 100vh;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: repeat;
    pointer-events: none;
    background-image: url("../assets/img/background.png");
    opacity: 40%;
    z-index: 10;
    margin: 0;
}

body {
    font-family: var(--font-family-public);
    font-size: var(--font-size-base);
    color: var(--color-black);
    background-color: var(--color-background);
    position: relative;
    line-height: 1.6;
}

.hidden {
    display: none;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    block-size: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    inline-size: 1px;
}

.container--s {
    margin-inline: var(--whitespace-s);
}

img,
picture {
    max-inline-size: 100%;
    block-size: auto;
    object-fit: contain;
}

.group-stroke,
.path {
    grid-column: 1;
    grid-row: 1;
}

.path {
    z-index: -10;
}

.header__content {
    /* block-size: 100%; */
    display: grid;
    place-items: center;
}

/* ------------------------------------- NAVIGATION ------------------------------------- */
button {
    border: none;
    margin: 0;
    font-size: var(--fs-base);
    line-height: 1;
    background: transparent;
    appearance: none;
    color: var(--text-color);
}

.nav__button--left {
    position: fixed;
    z-index: 20;
    left: var(--whitespace-base);
    top: var(--whitespace-base);
}

.nav__button--right {
    position: fixed;
    right: var(--whitespace-base);
    top: var(--whitespace-base);
    z-index: 20;
}

.nav__button svg {
    inline-size: 3.5rem;
    block-size: 3.5rem;
}

.nav__list {
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
    z-index: 15;
    padding-block: 15vh;
    padding-inline: var(--whitespace-m);
    block-size: 100vh;
    inline-size: 100vw;
    position: fixed;
    background-color: var(--color-background);
}

.nav__item {
    border-block-end: solid 1.5px var(--color-beige-light);
}

.nav__link {
    color: var(--color-black);
    font-weight: 500;
    font-family: var(--font-family-inconsolata);
    font-size: var(--font-size-l);
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    margin-block-end: var(--whitespace-base);
    margin-block-start: var(--whitespace-xs);
}

/* ------------------------------------- HEADER ------------------------------------- */

.story {
    padding-block-start: var(--whitespace-m);
    background-color: var(--color-beige-light);
    inline-size: 100%;
    display: grid;
    /* grid-template-columns: repeat(6, 1fr); */
    place-items: center;
    padding-inline-start: 8rem;
}

.story__title {
    font-family: var(--font-family-inconsolata);
    font-weight: 600;
    color: var(--color-red-primary);
    font-size: var(--font-size-m);
}

.story li {
    width: 18rem;
      height: auto;
        margin-inline-start: -8rem;
        transition: all 0.3s ease;
}

.story li:nth-child(1) {
    z-index: 6;
}

.story li:nth-child(2) {
    z-index: 5;
}

.story li:nth-child(3) {
    z-index: 4;
}

.story li:nth-child(4) {
    z-index: 3;
}

.story li:nth-child(5) {
    z-index: 2;
}

.story li:nth-child(6) {
    z-index: 1;
}

.header__hero {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
}

.hero__title {
    font-family: var(--font-family-playfair);
    font-weight: 600;
    text-transform: uppercase;
    font-size: clamp(3.125rem, 13vw, 9rem);
}

.hero__title--top {
    margin-block-end: -10vh;
    margin-block-end: clamp(-10rem, -17vw, -6rem);
}

.hero__title--bottom {
/* font-size: var(--font-size-xxxl); */
    font-size: clamp(5rem, 16vw, 10rem);
    margin-block-start: clamp(-13rem, -20vw, -7rem);
}

.hero__graphic {
    place-self: center;
}

.overlap{
    display: grid;
    place-items: center;
    overflow:hidden;
}

.overlap__item{
    grid-column: 1;
    grid-row: 1;
}

.hero__graphic {
    max-inline-size: 28rem;
}

.hero__graphic--fg {
    inline-size: 80%;
}

.hero__graphic--bg {
    max-inline-size: 140%;
    inline-size: 140%;
    margin-inline-start: -1.5rem;
    margin-block-end: -3rem;
    z-index: -5;
}

.hero__subtitle {
    display: grid;
    place-items: center;
    margin-block-start: -2rem;
}

.subtitle__p, .subtitle__svg {
    grid-column: 1;
    grid-row: 1;
}

.subtitle__p {
    font-family: var(--font-family-inconsolata);
    font-size: var(--font-size-m);
    font-weight: 600;
    line-height: 1.4;
    padding-inline: 2rem;
    max-inline-size: 35ch;
    color: var(--color-white);
    margin-block-start: clamp(-4rem, -10vw, -1rem);
}

.subtitle__svg {
    content: url('/src/assets/svg/background-subtitle.svg');
    inline-size: 100%;
    max-inline-size: 26rem;
    block-size: auto
}

.hero__note{
    rotate: -5deg;
    z-index: -2;
}

.note__p {
    font-family: var(--font-family-inconsolata);;
    color: var(--color-red-primary);
    font-weight: 500;
    font-size: var(--font-size-s);
    padding: var(--whitespace-s);
    max-inline-size: 45ch;
}

.note__svg {
    inline-size: 23rem;
    block-size: auto;
}


@media screen and (min-width: 30em) {
    .nav__list {
            padding-inline: var(--whitespace-xl);
    }
    .nav__link {
        margin-block-end: var(--whitespace-m);
        margin-block-start: var(--whitespace-xs);
    }

    .nav__button svg {
        inline-size: 3.5rem;
        block-size: 3.5rem;
    }
}

@media screen and (min-width: 40em) {
    .story{
        padding-block-start: var(--whitespace-s);
        padding-inline-start: 12rem;
        grid-template-columns: repeat(6, 1fr);
    }
    .story__title {
        font-size: var(--font-size-base );
    }
    .hero__title, .subtitle__p, .story__title{
        font-weight: 500;
    }

    .hero__subtitle {
        margin-block-start: -3rem;
    }

    .subtitle__p {
            max-inline-size: 70ch;
            margin-block-start: -1.7rem;
    }
    .subtitle__svg {
        max-inline-size: 100%;
        content: url('/src/assets/svg/background-subtitle-2.svg');
    }
}

@media (min-width: 60em) {

    /* Adjust the breakpoint as needed */
    .header__hero {
        grid-template-columns: 1fr auto 1fr;
        /* Three columns: left space, graphic, right space */
        grid-template-areas:
            "top-title top-title top-title"
            ". graphic ."
            "bottom-title bottom-title bottom-title"
            "subtitle subtitle subtitle";
        align-items: center;
    }

    .hero__title--top {
        grid-area: top-title;
    }

    .hero__graphic {
        grid-area: graphic;
        justify-self: center;
        /* Center the graphic in its column */
    }

    .hero__title--bottom {
        grid-area: bottom-title;
    }

    .hero__subtitle{
        grid-area: subtitle;
        justify-self: center;
        text-align: center;
    }

    .note__p {
        font-size: var(--font-size-xs);
    }

    .hero__note {
        grid-area: note;
        grid-row: 2;
        grid-column: 2/4;
        justify-self: end;
    }

    .note__svg {
        inline-size: clamp(20rem, 9vw, 21rem);
    }
}

@media screen and (min-width: 70em) {
    .story{
        grid-template-columns: repeat(6, 1fr);
        padding-inline-start: 8rem;
    }
}

@media screen and (min-width: 75em) {
    .hero__note {
        margin-inline-end: -4rem;
    }
}

@media screen and (min-width: 85em) {
    .hero__note {
        margin-inline-end: -6rem;
    }
}